{% extends 'myblog/base.html' %}

{% block title %}
    关于我
{% endblock %}

{% block content %}
    <article>
        <h1 class="t_nav">
            <span>没有礁石，就没有美丽的浪花；没有挫折，就没有壮丽的人生。</span>
            <a href="/myblog/index/" class="n1">首页</a>
            <a href="/myblog/about/" class="n2">关于我</a>
        </h1>
        <div class="ab_box">
            <div class="leftbox">
                <div class="newsview">
                    <div class="news_infos">
                        <p>于光坤，男，在代码中遨游的假宅！19年入行。大四以来一直在学习Python相关的技术，例如：Python web的一些框架，网络爬虫等。
                            这个网站就是用来分享我自己的一些学习笔记和心得的，也是自己通过学习web框架之后自己搭建出来的一个网站，给我了很大的满足
                            感，哈哈哈。在这个网站上线之后，我会一直将我的一些学习笔记、心得和工作经验的一些问题都陆续传到这里，希望大家能够支持。<br/>
                            <br/>
                            我在2014年的时候考入的应急管理部下的华北科技学院，在大学开始的两年里，我始终相信着高中老师的话“到了大学你们就轻松了”，
                            然后，醉生梦死的混过了两年大学生活。两年之后，在即将步入大三之前，我有一天突然的就心血来潮，开始思考我的人生之路，我
                            想：“两年时间，什么都没有学到，什么都不会做，我该怎么改变我自己，不然等大四找工作的时候，我可能只能回家种地了。”
                            我们都想自己改变自己，但是到最后却发现原来自己根本就没有那个毅力和恒心去改变。<br/>
                            <br/>
                            那我该怎么办？？？<br/><br/>
                            2016年，大二结束之后，我狠下心，咬着牙发誓，我一定要改变自己，不能再这样颓废下去，不然我的人生就完蛋了。<br/>
                            我想到一个办法，既然自己改变不了，那就通过外力吧，我毅然选择了投笔从戎，参军入伍，哈哈，是不是很高大上，没错，我就是
                            选择了去当兵，通过这个方式去改变自己。<br/>
                            <br/>
                            2018年，没有考上军官的我，选择了退伍回学校继续上学，开始思考我的下一步人生。现在的我已经有了足够的毅力来改变我自己。
                            我正式开始了我的编程生涯，期间我学习过Java、.net、Python等语言，通过一年的学习和思考，我选择了Python作为我的主要方向。<br/>
                            <br/>
                            2019年开始了我正式的实习生涯，主要接触的是后端开发和网络爬虫的一些经历。<br/>
                            </p>
                        <br/>
                        <h2>About my blog</h2>
                        &nbsp;
                        <p>
                            自己搭建这个博客网站，主要是为了验证自己的实习能力，看看能不能独立开发一个项目，如果有小伙伴想要和我交流
                            可以考虑加我的个人微信（在右边有我的二维码），也希望进入我的网站的朋友能够，发现一些bug，然后告诉我。一起
                            来提升我们的技术。
                            <br/><br/>
                            如果加我的伙伴足够多的话，我会考虑建一个微信群，来给我们这些爱好者一起交流。
                            <br/><br/>
                        </p>
                        <p>
                            另外，我的这个博客项目，从一开始开发持续到最后的一些修改都已经提交到GitHub上，如果想要搭建自己博客的朋友
                            完全可以根据我的文档一步一步走下去，搭建出来。GitHub的地址也在右边有噢。
                            <br/><br/>
                            最后，我们一起来加油吧！让我们了解更多的技术。
                        </p>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="rightbox">
                <div class="aboutme">
                    <h2 class="hometitle">关于我</h2>
                    <div class="avatar"><img src="/static/images/my.jpg"></div>
                    <div class="ab_con">
                        <p>网名：愿随孤月影 | 于光坤</p>
                        <p>职业：Python开发工程师、爬虫工程师 </p>
                        <p>个人微信：yu18232454727</p>
                        <p>邮箱：ygk_it@163.com <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1795056480@qq.com
                        </p>
                        <p>GitHub：<a href="https://github.com/GuangkunYu">https://github.com/GuangkunYu</a></p>
                    </div>
                </div>
                <div class="weixin">
                    <h2 class="hometitle">微信关注</h2>
                    <ul>
                        <img src="/static/images/wx.jpg">
                    </ul>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
