{% extends 'myblog/base.html' %}

{% block title %}
    知识分享
{% endblock %}

{% block content %}
    <article>
        <h1 class="t_nav">
            <span> 背着背包的路上，看过许多人，听过许多故事，见过旅行风景，就这样，慢慢学会了长大。 </span>
            <a href="/myblog/index/" class="n1">首页</a>
            <a href="/myblog/share/" class="n2">我与她</a>
        </h1>
        <div class="picbox">
            {% if city_id %}
                <ul>
                    {% for img in images %}
                        <li><i><img src="/static/{{ img.spot_img }}"></i>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul>
                    {% for city in citys %}
                        <li><a href="/myblog/share/?id={{ city.id }}">
                            <div class="img">
                                <i><img src="/static/{{ city.city_img }}"></i>
                            </div>
                            <div class="picinfo">
                                <h3>{{ city.city_name }}</h3>
                                <span>{{ city.city_description | safe }}</span></div>
                        </a></li>
                    {% endfor %}
                </ul>

            {% endif %}


            <div class="blank"></div>
{#            <div class="pagelist"><a title="Total record">&nbsp;<b>45</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a#}
{#                    href="/download/index_2.html">2</a>&nbsp;<a href="/download/index_2.html">下一页</a>&nbsp;<a#}
{#                    href="/download/index_2.html">尾页</a></div>#}
        </div>

        <div class="sidebar">

            <div class="lmnav search">
                <h2 class="hometitle">栏目导航</h2>
                <ul class="navbor">
                    <li><a href="">我与她</a></li>
                    <li><a href="share.html">旅游相册</a>
                        <ul>
                            {% for city in citys %}
                                <li><a href="">{{ city }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/myblog/list/">学无止境</a>
                        <ul>
                            {% for cou in course %}
                                <li><a href="/myblog/list/?type_id={{ cou.id }}&page=1">{{ cou }}</a></li>
                            {% endfor %}

                        </ul>
                    </li>

                </ul>
            </div>

            <div class="weixin">
                <h2 class="hometitle">个人微信</h2>
                <ul>
                    <img src="/static/images/wx.jpg">
                </ul>
            </div>
        </div>
    </article>
{% endblock %}